<footer>
  <nav>
    <ul class="foot-soc-links">
      <li>
        <a href="https://github.com/gvitaly87"><i class="fab fa-github fa-2x"></i></a>
      </li>
      <li>
        <a href="https://codepen.io/gvitaly87"><i class="fab fa-codepen fa-2x"></i></a>
      </li>
      <li>
        <a href="mailto:vitaly.gins@gmail.com"><i class="fas fa-paper-plane fa-2x"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/vitaly-gins/"><i class="fab fa-linkedin fa-2x"></i></a>
      </li>
    </ul>
  </nav>
  <p>
    Copyright &copy; <time datetime="<%= dayJS().format('YYYY-MM-DD')%>">2021</time>
    <a href="mailto:vitaly.gins@gmail.com" target="_self">Vitaly&nbsp;Gins</a>. All rights reserved.
  </p>
</footer>
