<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- Gallery will be a separate page for A5  -->
    <!-- <li><a href="/gallery">Gallery</a></li> -->
    <li><a href="/register">Register</a></li>
    <li class="call-to-action"><a href="/login">Login</a></li>
  </ul>
</nav>
